.products-page{
	min-height: 50rem;
}





/* PRODUCT_PAGE */

.product-img{
	height: 12rem;
	width: 12rem;
}

.product-img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
input[type="color"]{
	-webkit-appearance: none;
	width: 3.5rem;
	height: 2.5rem;
}
.row-category{
	height: 12rem;
}
.style-badge{
	cursor: pointer;
}
.color-badge{
	cursor: pointer;
}


/* ORDER PAGE */
.order-item{
	background-color: #F8F8F8;
}
.order-item-img{
	height: 7rem;
	width: 7rem;
}
.order-item-img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.item-photos-img{
	height: 10rem;
	width: 10rem;
}
.item-photos-img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}