.products-page, .users-page, .orders-page{
	min-height: 50rem;
}





/* PRODUCT_PAGE */

.product-img{
	height: 12rem;
	width: 12rem;
}

.product-img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
input[type="color"]{
	-webkit-appearance: none;
	width: 3.5rem;
	height: 2.5rem;
}
.row-category{
	height: 12rem;
}
.style-badge{
	cursor: pointer;
}
.color-badge{
	cursor: pointer;
}
.input-image-import{
	width: 8.5rem;
	overflow: hidden;
}


/* ORDER PAGE */
.order-item{
	background-color: #F8F8F8;
}
.order-item-img{
	height: 9rem;
	width: 9rem;
	background-color: #ffff;
	display: flex;
	align-items: center;
}
.order-item-img img{
	height: auto;
	width: 100%;
	object-fit: contain;
}
.item-photos-container{
	max-width: 90vw;
	overflow-x: scroll;
}
.item-photos-img{
	height: 10rem;
	width: 10rem;
}
.item-photos-img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}