/* DASHBOARD MENU */

.dashboard-menu{
    min-height: 40rem;
    max-height: 40rem;
    width: 15rem;
}
.dashboard-menu-links{
    min-height: 20rem;
    max-height: 20rem;
    font-size: 15px;  
}
.dashboard-menu li,  .dashboard-menu li a{

    min-width: 9rem;
}
/*
.dashboard-menu li:nth-child(2){
    border-top: none;
    border-bottom: none;
}
.dashboard-menu li:nth-child(3){
    border-bottom: none;
} */

.dashboard-menu li a{
    color: black;
    text-decoration: none;
    
}
.dashboard-menu li:hover a{
    background-color: #5DB8F8;
    color:white;
    transition: .15s;
}
.dashboard-menu li .active{
    background-color: #5DB8F8;
    color: white;
}


/* USER INFOS */

.update-button{
    cursor: pointer;
}
.update-button svg, .update-button a svg{
    text-decoration: none;
    color: black;
}
.user-infos-newsletter-div div input:focus{
    outline: none;
}

/* USER ACCOUNT */
.submit-update-username{
    animation: display1 .5s linear normal;
}
@keyframes display1 {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#password-update-form{
    background-color: #F8F8F8;
}

/* ORDER DETAILS PAGE */