/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
  background-color: #E1D4E4;
}
#intro #banniere-img {
	position: absolute;
	left: 0;
	width: 100vw;
	max-height: 100vh;
	object-fit: contain;
	object-position: bottom right;
}

.intro-content {
  position: absolute;
  height: 100%;
  width: 550px;
  right: 0;
  left: 10%;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.intro-content h1 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 40px;
  text-align: left;
}

.intro-content p {
  color: #fff;
  font-size: 18px;
  text-align: left;
}

.intro_btn_creerMonModele{
	text-decoration: none;
	margin: 0px auto 0px auto;
	font-size: 20px;
	color: white;
	background-color: black;
	border:none;
	outline: none;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}


.intro_btn_creerMonModele:hover {
	background-color: #5DB8F8;
}

#photo_intro{
	position: absolute;
	height: 850px;
	top: 50px;
	right: -150px;
}

#div_presentation{
	position: absolute;
	text-align: center;
	color: black;
	display: flex;
	top: 90%;
	left: 0;
	right: 0;
	margin: auto;
	height: 15rem;
	width: 60vw;
	min-width: 1050px;
	background-color: white;
	box-shadow: 0 0 1.6rem 0 rgba(49,49,49,.1);
}

#div_presentation img{
  height: 40px;
}

#div_presentation h1{
  margin: 10px;
  font-size: 20px;
}

#div_presentation p{
  margin: 20px;
}

.div_presentation_1{
  height: auto;
  width: 33%;
  min-width: 350px;
  padding: 10px 10px 10px 10px;
}

.div_presentation_2{
  height: auto;
  width: 33%;
  min-width: 350px;
  padding: 10px 10px 10px 10px;
  border-left: 1px solid black;
}

.div_presentation_3{
  height: auto;
  width: 33%;
  min-width: 350px;
  padding: 10px 10px 10px 10px;
  border-left: 1px solid black;
}

@media only screen and (max-width: 1200px) {
	.homepage-content{
		width: 100vw;
	}
	#intro{
		position: relative;
		height: auto;
		width: 100vw;
		min-width: 350px;
		overflow: hidden;
	}
	#intro #banniere-img {
		position: relative;
		top: 0;
		left: -25%;
		transform: scale(2);
		width: 100vw;
		object-fit: contain;
		object-position: bottom;
	}
	.intro-content {
		height: auto;
		position: relative;
		top:0;
		left: 0;
		right: 0;
		z-index: 10;
		width: 100vw;
	}
	.intro-content h1, .intro-content p, .intro_btn_creerMonModele{
		display: none;
	}
	#div_presentation{
		position: relative;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-width: 350px;
		max-width: 800px;
	}
	#div_presentation div{
		margin: auto;
		border: none;
		min-width: 350px;
	}
}

@media only screen and (max-width: 900px) {

	#div_presentation{
		position: relative;
		height: auto;
		max-width: 400px;
	}

}


/* Boutique Section
--------------------------------*/
#boutique-header{
  text-align: center;
  height: auto;
  width: 100vw;
  margin-top: 250px;
}

#boutique-header h2{
}

#boutique-header p{
}

.photo_boutique_content{
	margin: auto;
	width: 80vw;
}
.photo_boutique_content div p{
	padding-inline: 1rem;
	margin-top: 1rem;
	text-align: left;
	width: 100%;
}
.photo_boutique_content div ul{
	padding-inline: 1rem;
	width: 100%;
}
.photo_boutique_content div ul li{
	list-style-position: inside;
	list-style-type: disc;
	text-align: left;
}

.photo_boutique_content div img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.div_boutique{
	position: relative;
	height: 350px;
	width: 350px;
}
.div_boutique .div-title h4{
	background-color: #5DB8F8;
}

.boutique_btn_voirplus{
	text-decoration: none;
	font-size: 20px;
	color: white;
	background-color: black;
	border:none;
	outline: none;
	border-radius: 25px;
	transition: .25s;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}


.boutique_btn_voirplus:hover {
	background-color: #5DB8F8;
}

@media only screen and (max-width: 1200px) {
	#boutique-header{
		margin-top: 50px;
	}
	.photo_boutique_content{
		width: 100vw;
		flex-direction: column;
	}

}

/* Modele Section */

.modele-content{
	margin: auto;
	height: auto;
	min-height: 90vh;
	width: 80vw;
	display: flex;
	justify-content: center;
}
.modele-content .card-product{
	height: auto;
	width: auto;
}
.left-content .card-image{
	height: 300px;
	width: 300px;
}
.right-content .card-image{
	height: 300px;
	width: 300px;
}
.left-content{
	height: 100%;
	width: 30%;
}
.left-content .top{
	height: 50%;
	width: 100%;
}
.middle-content{
	width: 40%;
}
.right-content{
	height: 100%;
	width: 30%;
}
.right-content .top{
	height: 50%;
	width: 100%;
}

@media only screen and (max-width: 1200px) {
	.modele-content{
		width: 100vw;
		flex-direction: column;
	}
	.left-content, .middle-content, .right-content{
		height: auto;
		width: 100%;
	}
	.middle-content{
		margin: 3rem auto;
	}
	.modele-content .card-product{
		height: auto;
		width: 350px;
	}
}
/* Avis Section
--------------------------------*/

#reviews{
  padding: 50px 0px 50px 0px;
  background-color: #f3f3f3;
}

#reviews h2{
  color: black;
}

#displayReviews{
	width: 400px;
	height: 200px;
}

@media only screen and (max-width: 600px) {
	#displayReviews{
		width: 80vw;
		height: auto;
	}	
}
/* A propos Section
--------------------------------*/

#about{
  height: auto;
}

#about h2{
  color: black;
}

#about p{
  color: black;
}

.section-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.about_photoFilter{
  float: left;
  margin: auto;
  background-color: #F2ADA7;
  opacity: 75%;
  border-radius: 50%;
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.about_photoFilter img{
  object-fit: cover;
  height: 200px;
  width: 200px;
}

#about_presentation{
  text-align: justify;
  margin: 25px auto;
  height: auto;
  width: 600px;
}

@media only screen and (max-width: 600px) {
	.about_photoFilter{
		margin-left: 3rem;
	}
	#about_presentation{
		width: 80vw;
		max-width: 100vw;
	}
}


/*--------------------------------------------------------------
# preFooter
--------------------------------------------------------------*/

#prefooter{
  height: auto;
  padding: 0px 100px 0px 100px; 
}

#prefooter h1{
  color: black;
  margin: 10px auto;
  font-size: 20px;
}

#prefooter p{
  color: black;
}

#div_prefooter{
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  text-align: center;
  border-top: 1px solid #5DB8F8;
}
#div_prefooter img{
  height: 40px;
}

.div_prefooter_1{
  height: auto;
  width: 33%;
  padding: 10px 10px 10px 10px;
}

.div_prefooter_2{
  height: auto;
  width: 33%;
  padding: 10px 10px 10px 10px;
}

.div_prefooter_3{
  height: auto;
  width: 33%;
  padding: 10px 10px 10px 10px;

}
@media only screen and (max-width:900px){
	#prefooter{
		padding: 0; 
	}
}
@media only screen and (max-width: 600px) {
	#div_prefooter{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#div_prefooter div{
		width: 50%;
	}
}

