/* MODELES PAGE */
.modeles-page-container{
    min-height: 90vh;
}



/* MODELE PAGE */

.model-page-container{
    min-height: 70vh; 
}
.modele-page-content{
    min-height: 100%; 
}

.modele-page-img{
   height: 30rem;
   width: 30rem; 
   border: 10px solid black;
}
.modele-page-img img {
    height: 100%;
width: 100%;
    object-fit: cover;
}

.modele-page-details{
    min-height: 40rem;
}
.price{
    font-size: 40px;
}
.modele-page-cart-button{
    background-color: black;
    border-radius: 25px;
    cursor: pointer;
    height: 3rem;
    width: 15rem;
/*     box-shadow: 1px 1px 5px 1px rgba(133, 132, 132, 0.25);
 */}
.modele-page-cart-button:hover{
    background-color: #5DB8F8;
}
.cart-icon{
    color: black;    
}


/* .modele-page-img:hover { 
        background-color: aqua; 
        animation-name: myanimation; 
        animation-duration: 2s; 
        animation-fill-mode: forwards; 
    } 
.modele-page-img { 
animation-name: reverse; 
animation-duration: 1s; 
} 

@keyframes myanimation { 
from { 
    transform: rotate(0deg) scale(1); 
    border-radius: 0px; 
} 
to { 
    border-radius: 100px; 
    transform: rotate(360deg) scale(0.7); 
} 
} 

@keyframes reverse { 
from { 
    border-radius: 100px; 
    transform: rotate(360deg) scale(0.7); 
} 
to { 
    border-radius: 0px; 
    transform: rotate(0deg) scale(1); 
} 
}  */