/* MODELES PAGE */
.modeles-page-container{
    min-height: 100vh;
    max-width: 100vw;
}



/* MODELE PAGE */

.model-page-container{
    min-height: 100vh; 
}
.modele-page-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100%; 
}

.modele-page-img{
   height: 30rem;
   width: 30rem; 
}
.modele-page-img img {
    align-self: flex-start;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.modele-page-details{
    min-height: 40rem;
}
.price{
    font-size: 40px;
}
.modele-page-cart-button{
    background-color: black;
    border-radius: 25px;
    cursor: pointer;
    height: 3rem;
    width: 15rem;
    transition: .25s;
}
.modele-page-cart-button:hover{
    background-color: #5DB8F8;
}
.cart-icon{
    color: black;    
}
.similar-products-container{
    width: 90vw;
    margin: auto;
}
.similar-products{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    overflow-x: scroll;
}
.similar-products .card{
    min-width: auto;
    margin: 0 1rem;
}

@media only screen and (max-width: 990px) {
    .modele-page-img{
        margin: auto;
    }
    .modele-page-content{
        flex-direction: column;
    }
    .similar-products{
        justify-content: start;
    }
}
