.upload-part{
	position: relative;
	height: auto;	
}


.upload-part-order-resume{
	display: flex;
	height: auto;
	background-color: #F8F8F8;
}
.upload-part-order-resume-img{
	height: 12.5rem;
	width: 12.5rem;
}
.upload-part-order-resume-img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.upload-zone{
	z-index: 0;
	border-radius: 5px;
	height: 25rem;
	outline: none;
	border: 2px dashed #C7D4DA;
	color: #b6b6b6;
	background-color: #FDFDFD;
}
.upload-zone svg{
	color: #C7D4DA;
}
.upload-details{
	height: 25rem;	
}
.upload-title{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.span-number-file{
	font-size: 18px;
}
.upload-img-container{
	height: 100%;
	overflow: scroll;
	background-color: #F8F8F8;
}
.upload-zone-img{
	height: 10rem;
	width: 100%;
}
.upload-zone-img img{
	height: 100%;
	width: 10rem;
	object-fit: contain;
}
.upload-zone-img svg{/* Corbeille */
	color: red;
}
.upload-zone-img svg:hover{/* Corbeille */
	color: rgb(165, 15, 15);
}
.upload-zone-exemple{
	min-height: 10rem;	
}
.upload-zone-exemple svg{
	color: #C7D4DA;
}
.img-name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.validate-mask{
	height: 100%;
	position: absolute;
  	background-color: rgba(44, 43, 44, 0.65);
	z-index: 2;
}
.validate-modal{
	height: 15rem;
	position: absolute;
	background-color: white;
	z-index: 1000;
}

.outlinedash-icon{
	color: #EEEEEE;
}

@media only screen and (max-width: 990px){
	.upload-part-order-resume{
		flex-direction: column;
	}
	.upload-part-content{
		flex-direction: column;
	}
	.upload-zone{
		margin-bottom: 4rem;
	}
}

@media only screen and (max-width: 500px){

}