.loading-spinner-div{
    min-height: 30rem;
    max-height: 30rem;  
}
.user-orders-page{
    min-height: 40rem;
    max-height: 40rem;
}
.user-orders-container{
    min-height: 30rem;
    max-height: 30rem;
    overflow: scroll;
}
.user-order img{
    min-height: 9rem;
    min-width: 9rem;
    object-fit: cover;
}

.user-order p{
    margin: 0;
}

.user-account-page{
    min-height: 40rem;
    max-height: 40rem;
    overflow: scroll;   
}
.user-account-page-update{
    min-height: 40rem;
    max-height: 40rem;
    overflow: scroll;      
}
.user-infos-page{
    min-height: 40rem;
    max-height: 40rem;
    overflow: scroll;     
}
.user-infos-page-update{
    min-height: 40rem;
    max-height: 40rem;
    overflow: scroll;      
}