.app {
  text-align: center;
  min-width: 350px;
/*   min-height: 100vh;
 */}

.header{
  position: absolute;
  top: 0;
  z-index: 1000;
}
/* .brand{
  overflow: hidden;
}
.brand img{
  object-fit: contain;
} */
.logo{
  height: 3rem;
  width: 3rem;
}
.navbar-toggler:focus, .navbar-toggler.collapse{
  outline: none;
}

.navbar ul li a, .navbar ul li div{
  position: relative;
  z-index: 1000;
  margin: auto;
  padding: .5rem;
  font-weight: 500;
}
.navbar ul li a:hover{
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.navbar ul li .selected{
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px; 
}
.navbar ul li:hover:nth-child(5){
  background-color: transparent;
  cursor: pointer;
}

.navbar ul li a{
  text-decoration: none;
  color: black;
}



.cart{
  padding: .5rem;
  position: relative;
  cursor: pointer;
}
.numbitemscart{
  background-color: rgb(244, 255, 94);
  font-size: smaller;
  font-weight: 500;
  width: 1.3rem;
  height: 1.3rem;
  color: #343A40;
  border-radius: 50%;
  position: absolute;
  top: -5.5px;
  right: -5.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 990px) {
  .navbar-toggler{
    outline: none;
    background-color: #F8F9FA;
  }
  .navbar ul li {
    min-width: 10rem;
  }
  .navbar ul li a, .navbar ul li div{
    margin: 0;
    text-align: right;
    margin-left: auto;
  }
  .navbar ul li{
    background-color: #F8F9FA;
  }
  .numbitemscart{
    top: 25%;
    left: -50%;
  }
}









.modal-background{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(44, 43, 44, 0.5);
}

.modal-test{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 30rem;
  height: 15rem;
  background-color: #FFFF;
  animation: display .75s linear normal;
}
.loading-spinner-div svg{
  animation: rotate .75s linear infinite;
  color: lightgray;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes display {
  0% {
    transform: translateY(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.add-test{
  position: fixed;
  z-index: 1000;
  top: 3.5rem;
  right: 2rem;
  width: 15rem;
  height: 3rem;
  background-color: #FFFF;
  box-shadow: 1px 1px 5px 1px rgba(133, 132, 132, 0.25);
  animation: display .5s linear normal;
  
}

.add-border{
}

.loading-spinner{
}

.page-content{
  margin-top: 100px;
}

footer{
  height: 10rem;
  background-color: #E1D4E4;
  padding: 0;
}
footer ul{
  padding: 0;
  margin: 0;
}
footer ul li{
  list-style-type: none;
} 