body {
  margin: 0;
  font-family: 'Barlow', sans-serif;

  /* max-width: 100vw; */
/*   overflow-x: hidden;
 */}

.container-fluid{
  padding: 0;
}

.row {
  max-width: 100vw;
  margin: 0;
}
/* div {
  position: relative;
  z-index: 1;
} */

.card {
  position: relative;
  z-index: 1;
}
li {
  list-style: none;
}

